<!--<div ng-controller="GroupController">-->
<!--    <accordion ng-if="appConfig.showGroups" close-others="true">-->
<!--        <accordion-group is-open="group.expanded">-->
<!--            <accordion-heading>-->
<!--                {{group.name}}-->
<!--                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': group.expanded, 'glyphicon-chevron-right': !group.expanded}"></i>-->
<!--            </accordion-heading>-->
<!--            <accordion close-others="true">-->
<!--                <div ng-repeat="entry in entries" ng-controller="EntryController">-->
<!--                    <div ng-include="'http://localhost:8080/components/entry/entry-template.html'"></div>-->
<!--                </div>-->
<!--            </accordion>-->
<!--            <div ng-repeat="group in groups" ng-include="'http://localhost:8080/components/group/group-template.html'"></div>-->
<!--        </accordion-group>-->
<!--    </accordion>-->
<!--    <div ng-if="!appConfig.showGroups">-->
<!--        <accordion close-others="true">-->
<!--            <div ng-repeat="entry in entries | filter:{$:appConfig.filter}" ng-controller="EntryController">-->
<!--                <div ng-include="'http://localhost:8080/components/entry/entry-template.html'"></div>-->
<!--            </div>-->
<!--        </accordion>-->
<!--        <div ng-repeat="group in groups" ng-include="'http://localhost:8080/components/group/group-template.html'"></div>-->
<!--    </div>-->
<!--</div>-->



<!--<div class="accordion" id="accordionExample">-->
<!--    <div class="card">-->
<!--        <div class="card-header" id="headingOne">-->
<!--            <h2 class="mb-0">-->
<!--                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">-->
<!--                    {{group.name}}-->
<!--                </button>-->
<!--            </h2>-->
<!--        </div>-->

<!--        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">-->
<!--            <div class="card-body">-->
<!--                <div ng-include="'http://localhost:8080/components/group/group-template.html'"></div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->


<div ng-controller="GroupController">
    <accordion ng-if="appConfig.showGroups" close-others="true">
        <accordion-group is-open="group.expanded">
            <accordion-heading>
                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': group.expanded, 'glyphicon-chevron-right': !group.expanded}"></i>
            </accordion-heading>
            <accordion close-others="true">
                <div ng-repeat="entry in entries" ng-controller="EntryController">
                    <div ng-include="'http://localhost:8080/components/entry/entry-template.html'"></div>
                </div>
            </accordion>
            <div ng-repeat="group in groups" ng-include="'http://localhost:8080/components/group/group-template.html'"></div>
        </accordion-group>
    </accordion>
    <div ng-if="!appConfig.showGroups">
        <accordion close-others="true">
            <div ng-repeat="entry in entries | filter:{$:appConfig.filter}" ng-controller="EntryController">
                <div ng-include="'http://localhost:8080/components/entry/entry-template.html'"></div>
            </div>
        </accordion>
        <div ng-repeat="group in groups" ng-include="'http://localhost:8080/components/group/group-template.html'"></div>
    </div>
</div>