<!DOCTYPE html>
<html ng-app="BrowsePassApp" ng-csp style="overflow-y: scroll">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <style>
        body { -webkit-user-select: text; }
        .nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
        .panel-group { margin-bottom: 5px; }
        .panel-body { padding-right: 0px; margin-right: -1px;}
        .btn-file { position: relative; overflow: hidden; }
        .btn-file input[type=file] {
            position: absolute; top: 0; left: 0;
            opacity: 0;
        }
        .input-group-btn label { width: 100px; }
        .footer { clear: both; padding-top: 10px; }
        .footer li { display: inline; }
        .bp-field-value { white-space: pre-wrap; }
    </style>

    <!-- KDBX libraries -->
    <script src="cryptojs/components/core-min.js" type="text/javascript"></script>
    <script src="cryptojs/components/cipher-core-min.js" type="text/javascript"></script>
    <script src="cryptojs/components/mode-ecb-min.js" type="text/javascript"></script>
    <script src="cryptojs/components/aes-min.js" type="text/javascript"></script>
    <script src="cryptojs/components/pad-nopadding-min.js" type="text/javascript"></script>
    <script src="cryptojs/components/sha256-min.js" type="text/javascript"></script>
    <script src="inflate.js" type="text/javascript"></script>
    <script src="jdataview.js" type="text/javascript"></script>
    <script src="salsa20.js" type="text/javascript"></script>
    <script src="kdbx.js" type="text/javascript"></script>
    <script src="mimetype.js" type="text/javascript"></script>

    
    <script src="browser-aes.js" type="text/javascript"></script>
    <script src="jsencrypt.js" type="text/javascript"></script>

    <!-- BrowsePass components -->
    <script src="angularjs/1.2.21/angular.min.js" type="text/javascript"></script>
    <script src="ui-bootstrap/ui-bootstrap-tpls-0.11.0.min.js" type="text/javascript"></script>
    <script src="app.js" type="text/javascript"></script>
    <script src="app-controller.js" type="text/javascript"></script>
    <!-- <script src="components/gdrive/gdrive-service.js" type="text/javascript"></script>
    <script src="components/gdrive/gdrive-controller.js" type="text/javascript"></script> -->
    <script src="components/vault/vault-service.js" type="text/javascript"></script>
    <script src="components/dialog/dialog-service.js" type="text/javascript"></script>
    <script src="components/file-input/dropzone-directive.js" type="text/javascript"></script>
    <script src="components/file-input/receiver-directive.js" type="text/javascript"></script>
    <script src="components/hotkey/hotkey-directive.js" type="text/javascript"></script>
    <script src="components/open/open-controller.js" type="text/javascript"></script>
    <script src="components/group/group-controller.js" type="text/javascript"></script>
    <script src="components/entry/entry-controller.js" type="text/javascript"></script>
    <script src="components/field/field-directive.js" type="text/javascript"></script>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- Google Drive & Google Picker -->
    <!-- <script src="gapi-chrome-apps.js" type="text/javascript"></script> -->
    <script type="text/javascript">
    $(document).ready(function() {
        //alert('ABCDE');
        //$('#kkkk').click();

       $('#kkkk').trigger('click');
            //let reader = new FileReader();
            //let content = reader.readAsText("file://home/miyurud/keepass/Database.kdbx");
            console.log('XYZ');
        //     alert('ABCD');
        //     //$('input[type="file"]').click();
         });

$(document).on("click", "#bbbb", function(){
        //alert('ABCDE');
        $('#kkkk').trigger('click');
});
    </script>
    <script type="text/javascript">
    $(document).ready(function() {
      $("#btn-save").click( function() {
        var text = $("#privateKey").val();
        var filename = "private-key";
        var blob = new Blob([text], {type: "text/plain;charset=utf-8"});
        saveAs(blob, filename+".txt");
      });

      $("#priv").click(function(){
        var sKeySize = 1024;
      var keySize = parseInt(sKeySize);
      var crypt = new JSEncrypt({default_key_size: keySize});
      var async = false;
      var dt = new Date();
      var time = -(dt.getTime());
      if (async) {
        $('#time-report').text('.');
        var load = setInterval(function () {
          var text = $('#time-report').text();
          $('#time-report').text(text + '.');
        }, 500);
        crypt.getKey(function () {
          clearInterval(load);
          dt = new Date();
          time += (dt.getTime());
          $('#time-report').text('Generated in ' + time + ' ms');
          $('#privateKey').val(crypt.getPrivateKey());
          $('#pkText').val(crypt.getPublicKey());
        });
        return;
      }
      crypt.getKey();
      dt = new Date();
      time += (dt.getTime());
      $('#time-report').text('Generated in ' + time + ' ms');
      $('#privateKey').val(crypt.getPrivateKey());
      $('#pkText').val(crypt.getPublicKey());
      $('#publickey').html(crypt.getPublicKey());

        return false;
      });

      $("#generateDID").click(function(){
        console.log($('#pkText').val());
        $.post("http://localhost:9091/api",
        {
            command: 'cmd1',
            publickey: $('#pkText').val()
        },
        function(data,status){
          console.log("Data: " + data + "\nStatus: " + status);

          if (data == "null") {
            $('#statusBox').html('<p style="color:red;">Could not write to Blockchain. Please wait and try again.</p>');
          } else {
            $('#did').html("<p id=\"did\" name=\"did\" rows=\"4\" cols=\"50\">" + data + "</p>");
            $('#didText').val(data);
          }
        });
      });
   });

   function didFunction() {
        window.location.replace("http://localhost:9091/home/did?username=EMPTYUNAME");
      }

      function vcFunction() {
        alert("First get a DID created.")
      }

</script>

</head>
<body bgcolor="lightblue" ng-controller="AppController">
    <!-- <div id="bbbb"><h1>HELLO</h1></div>  -->
    <!-- <div class="text-center center-block">
        <h1><img src="icon-48.png" /> BrowsePass</h1>
    </div> -->
    <!-- <input type="file" id="kkkk"></input> -->
<!--    <div ng-controller="OpenController" ng-include="'components/open/open-template.html'"></div>-->

<!--    <div ng-if="isLoaded()" class="input-group well-sm">-->
        <!-- <span class="input-group-btn">
            <button class="btn btn-default" btn-checkbox ng-model="appConfig.showGroups">Show Groups</button>
        </span> -->
        <!-- <input type="text" class="form-control" placeholder="Filter" ng-model="appConfig.filter" hotkey="{ctrlKey: true, keyCode: 'F'.charCodeAt(0)}" /> -->
        <!-- <span class="input-group-btn">
            <button class="btn" ng-class="{'btn-info': appConfig.filter, 'btn-default': !appConfig.filter}" ng-disabled="!appConfig.filter" ng-click="appConfig.filter=''">
                <i class="glyphicon glyphicon-filter"></i>
            </button>
        </span> -->
    </div>

    <div ng-controller="GroupController">
        <div ng-repeat="group in groups" ng-include="'components/group/group-template.html'"></div>
    </div>

    <!-- <div class="footer text-muted">
        <ul>
            <li>Licensed under GNU Public License version 2 <i class="glyphicon glyphicon-question-sign" popover-placement="right" popover="with compatible or public domain components AngularJS (MIT License), Bootstrap (MIT License), CryptoJS (New BSD License), gapi-chrome-apps (Apache v2), jDataView (wtfpl License), UI-Bootstrap (MIT License) and unknown components salsa20.js, inflate.js."></i></li>
            <li>&middot;</li>
            <li><a href="https://bitbucket.org/namn/browsepass/" target="_blank">Project page</a></li>
            <li>&middot;</li>
            <li><a href="https://bitbucket.org/namn/browsepass/issues" target="_blank">Feedback</a></li>
        </ul>
    </div> -->

    <table border="0" width="600">
        <tr>
            <td>
                <table>
                    <tr>
                        <td>
                            <a href="javascript:void(0);" id="didLink" onclick="didFunction()">DID</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="javascript:void(0);" id="vcLink" onclick="vcFunction()">VC</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="http://localhost:9091/logout?username=EMPTYUNAME" id="logoutLink" download>Logout</a>
                        </td>
                    </tr>
                    </tr>
                </table>
            </td>
            <td>
                <table>
                    <tr>
                    <tr>
                        <td> Public Key </td><td>
                        <p id="publickey" name="publickey" rows="4" cols="50"></p>
                        <input type="text" id="pkText" name="pkText" size=20 hidden></input>
                        <input type="text" id="privateKey" name="privateKey" size=20 hidden></input>
                        <textarea id="textarea" rows="10" hidden></textarea>
                    </td>
                    </tr>
                    <tr>
                        <!--                    <td><button type="button" id="priv">Generate key pair</button></td>-->
                        <!--                    <td>-->
                        <!--                        <button id="btn-save" type="submit" class="btn btn-primary">Save private key</button>-->
                        <!--                    </td>-->
                        <td>
                            <div ng-controller="OpenController" ng-include="'components/open/open-template.html'"></div>

                            <div ng-if="isLoaded()" class="input-group well-sm">
                        </td>
                    </tr>
                    <tr><td><span><i><small id="time-report"></small></i></span></td><td>&nbsp;</td></tr>
                    <tr>
                        <td>Decentralized Identifier (DID)</td>
                        <td><p id="did" name="did" rows="4" cols="50"></p> <input type="text" id="didText" name="didText" size=20 hidden></input></td>
                    </tr>
                    <tr>
                        <td><button type="button" id="generateDID">Generate DID</button></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

</body>
</html>
